.form-label {
    display: flex;
    justify-content: center;
    flex-basis: 50%;

    margin-left: -10px;
}

.form-text-area {
    width: 90%;
    resize: none;

    margin: 10px;
}

.form-input {
    max-width: 80%;

    margin: 10px;
}
