.footer-block {
    padding: 10px 0 24px 0;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    margin-top: auto;
}

.footer-font {
    margin-top: 10px;
    color: #504a4a;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 350px) {
    .footer-font {
        margin-top: 10px;
        color: #504a4a;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
    }
}

.footer-img {
    position: absolute;
    right: 50px;
    width: 150px;
    top: -10px;
}

@media only screen and (max-width: 600px) {
    .footer-img {
        position: absolute;
        right: 5px;
        width: 80px;
        top: -10px;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-icons > * {
    margin-right: 16px;
}

.gradient-border-end {
    background: rgb(234, 197, 91);
    height: 5px;
    width: 100%;
}