.footer-font {
    margin-top: 10px;
    color: #504a4a;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 350px) {
    .footer-font {
        margin-top: 10px;
        color: #504a4a;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
    }
}

.footer-img {
    position: absolute;
    right: 0;
    width: 150px;
    top: -10px;
}

@media only screen and (max-width: 600px) {
    .footer-img {
        position: absolute;
        right: -45px;
        width: 80px;
        top: -10px;
    }
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-icons > * {
    margin-right: 16px;
}
