@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.layout {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.ant-layout-header {
    height: 32px;

    background-color: white;
}

.ant-list-split .ant-list-item {
    border-color: #ded5c3;
}

.content-main {
    margin: 10px auto;
    max-width: 1000px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 18px;
}

.content-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    font-size: calc(12px + 1vmin);
    text-align: justify;
}

.headings, .headings-medium {
    margin-bottom: 0;

    font-family: "Balsamiq Sans", "Century Gothic", "Segoe UI", "Roboto", sans-serif;
}

.headings {
    margin-top: 15px;
}

.headings-medium {
    margin-top: 10px;
}

.block {
    padding-left: 8px;
}

.block-medium {
    padding-left: 16px;
}

.text-big {
    font-size: ~"max(6vmin, 28px)";
}

.text-medium {
    font-size: ~"max(3.7vmin, 24px)";
}

.text-miniMedium {
    font-size: ~"max(3.2vmin, 22px)";
}

.gradient-border-small {
    margin: 0 0 6px 0;
    border: 0;
    height: 4px;

    background-image: linear-gradient(to right, rgba(234, 179, 76, 0.31) 25px, transparent 60%);
}

.gradient-border {
    margin: 0 0 12px 0;
    border: 0;
    height: 4px;

    background-image: linear-gradient(to right, rgba(238, 188, 90, 0.95) 25px, transparent 85%);
}

@media only screen and (max-width: 600px) {
    .mainPageButtons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainPageButtons > .ant-col-12 {
        max-width: 100%;
    }

    .progLink, .hobbyLink {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}

.progLink, .hobbyLink {
    display: flex;
    justify-content: center;
    min-width: 160px;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid;

    margin: auto;

    font-size: ~"max(3.2vmin, 20px)";
    font-family: "Balsamiq Sans", "Century Gothic", "Segoe UI", "Roboto", sans-serif;
}

.progLink {
    border-color: #64b8ff;
}

.progLink a {
    color: #64b8ff;
}
.progLink a:hover {
    color: #0063b6;
}


.hobbyLink {
    border-color: #ffa71e;
}

.hobbyLink a {
    color: #ffa71e;
}

.hobbyLink a:hover {
    color: #dc8500;
}

.hobbiesBlock {
    white-space: pre-line;
}

